@import '../../base/variables.scss';
@import '../../base/mixins.scss';
.why-choose{
    background-color:$primary-color-2 ;
    padding: 12rem 7rem;
    position: relative;
    display: flex;
    align-items: center;
    @include screenSize($bp-large){
        flex-wrap: wrap;
        padding: 4rem;
    }
    &::before{
        
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        height: 100%;
        background-color: $secomdary-color;
        @include screenSize($bp-large){
            display: none;
        }
    }

    & section{ 
        z-index: 4;
        flex: 0 0 40%;
        @include screenSize($bp-large){
        flex: 0 0 100%;
        color: $secomdary-color !important;
            
        }
        & article{
            @include screenSize($bp-large){
                color: #fff !important;   
                }
            
        @include title;

        background-image: url('../../store/images/Pattern.svg');
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;

        
    }
}
}

.quick-service{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem 0;
    & div{
        display: flex;
        align-items: center;
        margin: 1.6rem 0;
        flex: 0 0 50%;

        & p{
            margin-left: 1.8rem;
            font-weight: 400;
            font-size: 2.2rem;
            line-height: 3rem;
            color: $primary-color-2;
            @include screenSize($bp-large){
                color: $secomdary-color !important;
                    
                }
        }
    }
}