@import '../../base/variables.scss';
@import '../../base/mixins.scss';
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;

    & h2 {
        @include heading;
    }

    & button{
        padding: 1rem;
        border-radius: 50%;
        outline: none;
        border: none;
        cursor: pointer;
        
        &:not(:last-child){
            margin-right: 1rem;
        }

        &:first-of-type{
            background-color: $primary-color;
        }
        &:last-of-type{
            background-color: $primary-color-2;
            color: $secomdary-color;
        }
    }
}