@import '../../base/variables.scss';
.label {
    background-image: linear-gradient(to left, transparent, rgba($color: $heading-font-color, $alpha: 0.07));
    padding: .8rem 1.8rem;
    color: $primary-color-2;
    position: relative;
    overflow: hidden;
    letter-spacing: 1px;
    font-size: 1.3rem;
    font-weight: 600;
    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: .6rem;
        background-color: $primary-color;
    }
}