@import '../../base/variables.scss';
@import '../../base/mixins.scss';

.newsItem{
    display: flex;
    justify-content: space-between;
    &:not(:last-child){
        border-bottom: 1px solid #ccc;
    }
    @include screenSize($bp-md){
   flex-wrap: wrap;
        }
}