$primary-color:#ffbe34;
$primary-color-2:#091242;
$secomdary-color :#f4f4f4;

$heading-font-color:#1c1f35;
$paragraph-font-color:#666c89;

$gradient: linear-gradient(94.06deg, #FFB629 -1.21%, #FFDA56 50.75%, #FFD7A6 102.71%);

$heading-xxxl :6rem;
$heading-xxl :5rem;
$heading-xl:4rem;
$heading-lg:3.5rem;
$heading-md:3rem;
$heading-md-sm:2.5rem;
$heading-sm:2rem;

$over-shadow:linear-gradient(to top, rgba(#000000, 0.7), transparent);
$over-shadow2:linear-gradient(to top, rgba(#000000, 1), transparent);

$bp-largest:75em; //1200px
$bp-large: 72.3125em;
$bp-xxmd:61.75em;
$bp-xmd:58.625em;//938px
$bp-md:52em;
$bp-sm: 45.125em;
$bp-xsm:37.3125em;//567px
$bp-xxsm :25.3125em;
$bp-xxxsm :22.625em;

$foot : 68.75em;